html,
body {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  flex-grow: 1;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  display: flex;
  flex-direction: column;
}

* {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
}

.MuiOutlinedInput-notchedOutline {
  border: "2px solid #14445A !important";
}